<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    {%  load static %}
    <script src="{% static "index.js" %}"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores dolore eos expedita, id in incidunt ipsum iste laborum maxime quaerat similique sint tempore totam veritatis voluptatem voluptates voluptatum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto commodi, consectetur culpa doloribus est facere fuga fugiat in odit quas quibusdam quis quos recusandae rem repellat sequi sit veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet consequatur cum, deserunt fugit hic minima molestias natus nisi quis similique, voluptatem. Asperiores commodi excepturi fugiat harum iusto provident ut.
    </div>
</body>
</html>